#conatiner-popup {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    top: -50%;
    left: 50vw;
    transform: translate(-50%, 50%);
}

#popup {
    background-color: var(--colorCard);
    border-radius: var(--rounded);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#popup input {
    height: 40px;
    border-radius: var(--rounded);
    border: none;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--colorWhute);
}



